* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  // padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}



.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}





.header, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color:white;
  background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
  );
}

.logo-image {
  height: 40px;
}

.nav-list, .social{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}


.social-item_img{
  width: 20px;
  height:20px;
}


.index-content {
  width: 100vw;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr .5fr 2fr .5fr 1fr;
  grid-template-rows: 100px minmax(200px, calc(50% - 200px)) minmax(50px, calc(30% - 200px)) minmax(200px, calc(20% - 200px)) 100px;

  background-color: black;
}


.vertical-text{

  p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: yellow;
  }
  
}

.logo{

  background: lightcoral;
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.logo-header{
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}

.logo--footer{
  grid-column: 1 / 2;
  grid-row: 5 / 5;
}

.title-background{
  grid-area: 2 / 1 / 5 / 5;
  overflow: hidden;
  video{
    width:100%;
  }
}

.title{
  grid-area: 2 / 1 / 5 / 5;

  display:flex;
  .title-text{
    font-size: 10rem;
    line-height: 5.5rem;
    height:100%;
    width:100%;
    text-align:center;
    mix-blend-mode: multiply;
    margin:0;
    padding-top: 7rem;
    background-color: rgb(255, 0, 0);
    color:white;
  }
}


.horizontal-menu{
  display:flex;
  li{
    list-style: none;
    margin: 0 1rem;
  }
}

.nav--footer{
  grid-area: 5 / 2 / 5 / 4;
  color: white
}