<footer class="footer">
  <div class="logo">
    <img src="/src/assets/images/logo.png" alt="Logo" class="logo-image">
  </div>

  <nav class="nav nav--footer">
    <ul class="horizontal-menu">
      <li class="nav-item"><a href="/src/pagina1.html" class="nav-link">Pàgina1</a></li>
      <li class="nav-item"><a href="/src/pagina2.html" class="nav-link">Pàgina2</a></li>
      <li class="nav-item"><a href="/src/pagina3.html" class="nav-link">Pàgina3</a></li>
    </ul>
  </nav>

  <ul class="horizontal-menu social">
    <li class="social-item"><a href="#"><img class="social-item_img" src="/src/assets/images/logo.png" alt="Logo de twitter"></a></li>
    <li class="social-item"><a href="#"><img class="social-item_img" src="/src/assets/images/logo.png" alt="Logo de instagram"></a></li>
    <li class="social-item"><a href="#"><img class="social-item_img" src="/src/assets/images/logo.png" alt="Logo de facebook"></a></li>
  </ul>
</footer>
