<footer class="footer bg-black">

  <div class="max-width footer__nav">

  <a href="/"><span class=" logo logo--ciber">CIBER</span><span class=" logo logo--ia">.IA</span></a>


  <nav class="nav">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link nav__link" href="/src/pagina1.html">Ponents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__link" href="/src/pagina2.html">Ciberseguretat2025</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav__link" href="/src/pagina3.html">Inscripció</a>
      </li>
    </ul>
  </nav>

  <ul class="navbar-nav d-flex flex-row social"> 
    <li class="social-item"><a href="http://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
    <li class="social-item"><a href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
    <li class="social-item"><a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
  </ul> 

</div>
</footer>
