<!-- <footer class="uoc-footer">
  &copy; Universitat Oberta de Catalunya
</footer> -->


<footer class="footer">
  <div class="logo">
    <img src="/src/assets/images/logo.png" alt="Logo" class="logo-image">
  </div>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#pàgina1" class="nav-link">Pàgina1</a></li>
      <li class="nav-item"><a href="#pàgina2" class="nav-link">Pàgina2</a></li>
      <li class="nav-item"><a href="#pàgina3" class="nav-link">Pàgina3</a></li>
    </ul>
  </nav>

  <ul class="social">
    <li class="social-item"><a href="#"><img class="social-item_img" src="/src/assets/images/logo.png" alt="Logo de twitter"></a></li>
    <li class="social-item"><a href="#"><img class="social-item_img" src="/src/assets/images/logo.png" alt="Logo de instagram"></a></li>
    <li class="social-item"><a href="#"><img class="social-item_img" src="/src/assets/images/logo.png" alt="Logo de facebook"></a></li>
  </ul>
</footer>