<header class="header">

  <nav class="navbar bg-black max-width">
    <div class="container-fluid">

      <a href="/"><span class=" logo logo--ciber">CIBER</span><span class=" logo logo--ia">.IA</span></a>

      <div class="navbar--desktop p-2">
        <ul class="navbar-nav d-flex flex-row w-100 justify-content-start gap-5">
          <li class="nav-item"><a href="/src/pagina1.html" class="nav-link nav__link">Ponents</a></li>
          <li class="nav-item"><a href="/src/pagina2.html" class="nav-link nav__link">Ciberseguretat2025</a></li>
          <li class="nav-item"><a href="/src/pagina3.html" class="nav-link nav__link">Inscripció</a></li>
        </ul>
      </div>

      <button class="navbar-toggler navbar-toggler_button navbar--mobile" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars nav__icon nav__icon--color"></i>
      </button>

      <div class="offcanvas offcanvas-end side-menu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ciberseguretat 2025</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Portada</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="/src/pagina1.html">Ponents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="/src/pagina2.html">Ciberseguretat2025</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="/src/pagina3.html">Inscripció</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>