.content {
  flex-grow: 1;
}

.cards-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  container-type: inline-size;
  .card{
    width:90%;
  }

  @container (min-width: 500px) {
    .card {
      width: calc(100cqw / 2.3);
      height: min-content;
    }
    img {
      height: 200px;
      object-fit: cover;
    }
  }

  @container (min-width: 800px) {
    .card {
      width: calc(100cqw / 3.3);
      height: min-content;
    }
    img {
      height: 200px;
      object-fit: cover;
    }
  }
}


@include media-breakpoint-up(sm){
  .cards-content{
    padding: 4rem;
    margin: auto;   
  }

}