

.progress-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(100px, 300px, 80cqw);
  height: clamp(100px, 300px, 80cqw);
  background-image: url(/src/assets/images/candau.png);
  background-size: cover;
  border-radius: 50%;
  container-type: size;
}

.progress-topleft {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 50cqw;
  height: 50cqh;
  background-color: color(display-p3 0.25 0.81 0.25);
  border-top-left-radius: 100%;
  mix-blend-mode: overlay;
}

.progress-topright {
  position: absolute;
  top: 0;
  left: 50cqw;
  display: none;
  width: 50cqw;
  height: 50cqh;
  background-color: color(display-p3 0 0.41 1);
  border-top-right-radius: 100%;
  mix-blend-mode: overlay;
}

.progress-bottomleft {
  position: absolute;
  top: 50cqh;
  left: 0;
  display: none;
  width: 50cqw;
  height: 50cqh;
  background-color: color(display-p3 0.86 0.08 0.08);
  border-bottom-left-radius: 100%;
  mix-blend-mode: overlay;
}

.progress-bottomright {
  position: absolute;
  top: 50cqh;
  left: 50cqw;
  display: none;
  width: 50cqw;
  height: 50cqh;
  background-color: color(display-p3 0.86 0.55 0.08);
  border-bottom-right-radius: 100%;
  mix-blend-mode: overlay;
}

.progress-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0cqw;
  height: 0cqh;
  overflow: hidden;
  font-size: clamp(1rem, 3rem, 5rem);
  color: #c6c6c6;
  background-color: white;
  border-radius: 100%;
  box-shadow: none;
  transition: .5s
}

.content:has(.form-name:valid) {
  .progress-topleft {
    display: block;
  }
}

.content:has(.form-email:valid) {
  .progress-topright {
    display: block;
  }
}

.content:has(.form-mobile:valid) {
  .progress-bottomleft {
    display: block;
  }
}

.content:has(.form-select:valid) {
  .progress-bottomright {
    display: block;
  }
}

.form-button {
  opacity: 0;
  transition-delay: 2s;
  transition-duration: .5s;
}

.content:has(
.form-name:valid):has(
  .form-email:valid):has(
    .form-mobile:valid):has(
      .form-code:valid){
  .progress-confirmation {
    display: flex;
    width: 40cqw;
    height: 40cqh;
    box-shadow: 0px 0px 90px 34px rgb(0 0 0 / .7);
  }
  .form-button {
    display: block;
    opacity: 1;
  }
}

.inscription-form {
  width: clamp(100px, 300px, 80cqw);
}

.inscription-select {
  display: flex;
  flex-direction: column;
  max-width: 400px
}

.form-select {
  width: 100% !important;
  max-width: 100%;
}

