

// @layer modules{

  .nav__link {
    font-weight: bold;
    color:$primary;
    text-decoration: none;
    transition: color 0.3s ease;
  }
    




  .footer__nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .footer__navbar{
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
    
  .social{
    gap:2rem;
  }

  .max-width {
    max-width: 1000px;
    margin: auto;
  }

  .nav-link .nav__link{
    color: $primary;
  }

// }

// @layer modifiers{
  .logo--ciber {
    color: #fff;
    border-bottom: solid 3px rgb(255, 255, 255);
  }

  .logo--ia {
    color: rgb(238, 255, 0);
    border-bottom: solid 3px rgb(255, 255, 255);
  }

  .nav__link:hover {
    color: #007bff;
  }

  .nav__link--active{
    border-bottom: solid 2px white;
  }
  .nav__icon--color {
    color: $primary;
  }

  .navbar--desktop{
    display:none;
  }
    
  @include media-breakpoint-up(sm) {
    .footer__nav{
      flex-direction: row;
    }
    .nav-item {
      margin-left: 10px;
    }

    .navbar--desktop{
      display:block;
    }
    .nav__icon,
    .navbar-toggler{
      display:none;
    }
    .navbar-nav {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      a{
        color: $primary;
      }
    }
  }


  @include media-breakpoint-up(md){
    .footer__navbar{
      flex-direction: row;
    }
  }








}