@use "sass:color";


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;


// PERSONALITZACIÓ VARIABLES BOOTSTRAP

$primary:  #05ec11;

$secondary: rgb(147, 12, 12);

$card-color: $secondary;

$card-title-color: $secondary;

$link-color:$secondary;

$link-decoration: null;

$body-color: rgb(0, 0, 0);

$body-bg: #f1f1f1;

$btn-border-radius: 2rem;

$thumbnail-padding: 0;

// Variables pròpies index

$background-mix-color: #930c0c;

$background-mix-color-text: #fff;



